<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<title>Greetings</title>
</head>
<body>
	<div th:each="greeting:${data}">
				Name :<p th:text="${greeting.getName()}"></p>
				City :<p th:text="${greeting.getCity()}"></p>
	</div>
</body>
</html>