<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Result Page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<p th:text="${greeting.city}"></p>
	<p th:text="${greeting.name}"></p>
	<a href="/greeting">Submit Another Form</a> 
</body>
</html>